td {
    padding-left: 10px;
    padding-right: 10px;
}

tr {
    padding-top: 20px;
    padding-bottom: 20px;
}

.authors-list {
    width: 60%;
    margin: auto;
    margin-top: 60px;
    padding: 0;
    list-style-type: none;
}

.author-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.add-author-item {
    padding-top: 60px;
    padding-bottom: 60px;
}

.author-update-form {
    display: inline;
}

.author-update-form div {
    display: inline;
}

.author-update-label {
    width: 8%;
    display: inline-block;
}

.author-update-name-input {
    width: 70%
}

.author-update-button {
    width: 10%;
}

.author-expire-form {
    display: inline;
}

.author-expire-button {
    width: 10%;
}

.author-add-label {
    width: 15%;
    display: inline-block;
}

.author-add-name-input {
    width: 63%;
}

.author-add-button {
    width: 10%;
}