body {
	height: 100%;
}

.header {
	border: 1px solid;
	height: 80px;
}

.menu {
	border: 1px solid;
	border-color: grey;
	float: left; 
	width: 20%;
}

.content {
	border: 1px solid;
	border-color: grey;
	min-height: 87%;
	margin-left: 20%;
}

.footer {
	border: 1px solid;
	height: 20px;
	clear: both;
}

.news-title {
		margin-bottom: 15px;
		width: 70%;
		display: inline-block;
}

.error {
	color: red;
}