.news-create-form {
    width: 700px;
    margin: 60px auto;
}

.news-create-form-block {
    margin: 20px 0;
}

.news-create-form-block input {
    width: 85%;
}

.news-create-form-block textarea {
    width: 85%;
    resize: none;
    vertical-align: middle;
}

.news-create-form-block label {
    width: 11%;
    display: inline-block;
}

.news-create-select-block {
    width: 280px;
    margin: auto;
}

.news-create-save-button {
    float: right;
    margin: 20px;
}