.news-list-search {
    margin: 20px auto 20px auto;
    width: 410px;
}

.news-list-search form {
    display: inline-block;
}

.news-item {
    margin-bottom: 55px;
}

.news-title {
    width: 70%;
    display: inline-block;
}

.author-name {
    width: 17%;
    display: inline-block;
}

.date {
    width: 12%;
    display: inline-block;
}

.tags {
    display: inline-block;
}

.news-bottom > li ul {
    padding: 0;
}

.news-bottom > li li {
    color: grey;
    display: inline-block;
}

.comments {
    display: inline-block;
    margin: 0 5px 0 10px;
}

.news-bottom > li {
    display: inline-block;
}

.news-delete-button {
    float: right;
    margin: 0 40px 40px 0;
}