.signin {
    margin: 23% auto;
    text-align: center;
}

.signin form {
    width: auto;
    display: inline-block;
    height: auto;
}

.main-content {
    border: 1px solid;
    border-color: grey;
    min-height: 87%;
}