td {
    padding-left: 10px;
    padding-right: 10px;
}

tr {
    padding-top: 20px;
    padding-bottom: 20px;
}

.tags-list {
    width: 60%;
    margin: auto;
    margin-top: 60px;
    padding: 0;
    list-style-type: none;
}

.tag-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.add-tag-item {
    padding-top: 60px;
    padding-bottom: 60px;
}

.tag-update-form {
    display: inline;
}

.tag-update-form div {
    display: inline;
}

.tag-update-label {
    width: 8%;
    display: inline-block;
}

.tag-update-name-input {
    width: 70%;
}

.tag-update-button {
    width: 10%;
}

.tag-delete-form {
    display: inline;
}

.tag-delete-button {
    width: 10%;
}

.tag-add-label {
    width: 15%;
    display: inline-block;
}

.tag-add-name-input {
    width: 63%;
}

.tag-add-button {
    width: 10%;
}