.news {
    padding-left: 50px;
    padding-right: 20px;
}

#author-name {
    display: inline-block;
}

#creation-date {
    float: right;
}

#comment-area {
    resize: none;
    overflow-x: hidden;
}

.comments {
    list-style-type: none;
    padding-left: 0;
    width: 70%
}

.comment-item {
    margin-bottom: 10px;
}

.comment-delete {
    float: right;
}

.comment {
    background-color: grey;
    padding: 10px 25px 10px 5px;
}