#page-active {
    color: #fff;
    background-color: #585858;
    border-color: #4D4D4D;
    cursor: pointer;
}

#page-active:focus,
#page-active.focus {
    color: #fff;
    background-color: #484848;
    border-color: black;
}

#page-active:hover {
    color: #fff;
    background-color: #484848;
    border-color: #404040;
}

#page-active:active,
#page-active.active {
    color: #fff;
    background-color: #484848;
    border-color: #404040;
}

#page-inactive {
    color: #585858;
}

#page-active, #page-inactive {
    width: 20px;
    display: inline-block;
    text-align: center;
}

.pages {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.pages > ul {
    display: flex;
    justify-content: center;
    align-content: center;
}

.pagination {
    list-style-type: none;
}